<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Daniel Nguyen</a>
      <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" type="button">About Me</button></li>
            <li><button class="dropdown-item" type="button">Work</button></li>
            <li><button class="dropdown-item" type="button">Projects</button></li>
            <li><button class="dropdown-item" type="button">Contact</button></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>

<div class="container col-xxl-8 px-4 py-5 border-bottom">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h3>Hello world</h3>
      <p>I'm Daniel Nguyen, a self-taught developer aiming to deliver innovative products that help people.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg', size: '30x30'), 'github' %>
        <%= link_to image_tag('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg', size: '30x30'), 'linkedin' %>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag 'daniel.jpg', id: 'profile-pic' %>
    </div>
  </div>
</div>

<div class="container px-4 py-5 border-bottom">
  <div class="about-me">
    <h4>About Me</h4>
    <p>I'm a former teacher with over 10 years of experience in public schools, now making a transition into tech. Having witnessed firsthand the impact that technology can have in the classroom, I am motivated by the potential of digital innovation to transform education and improve outcomes for learners of all ages.</p>
    <p>My goal is to use technology to solve problems and create solutions that can make a real difference in people's lives. I am excited to bring my perspective and experience to the tech industry and look forward to learning and growing in this new chapter of my career.</p>
    <p>When I'm not coding, you can usually find me being active. I love playing tennis, hiking in nature, cooking up new recipes, and exploring new destinations.</p>
  </div>
</div>

<div class="container px-4 py-5 border-bottom" id="featured-3">
  <h4>Work</h4>
  <p>Fullstack web developer specializing in Javascript, React, and Ruby on Rails: </p>
  <span>
    <%= link_to 'Download resume', target:'_blank' %> /
    <%= link_to 'View online', root_path %>
  </span>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <ul>
        <h5>Languages</h5>
        <li><i class="devicon-javascript-plain colored"></i> Javascript</li>
        <li><i class="devicon-css3-plain colored"></i> CSS</li>
        <li><i class="devicon-html5-plain colored"></i> HTML</li>
        <li><i class="devicon-ruby-plain colored"></i> Ruby</li>
        <li><i class="devicon-python-plain colored"></i> Python</li>
        <li><i class="devicon-postgresql-plain colored"></i> SQL(PostgreSQL)</li>
      </ul>
    </div>
    <div class="feature col">
      <ul>
        <h5>Frameworks</h5>
        <li><i class="devicon-rails-plain colored"></i> Rails</li>
        <li><i class="devicon-react-original colored"></i> React</li>
        <li><i class="devicon-express-original colored"></i> Express</li>
        <li><i class="devicon-bootstrap-plain colored"></i> Bootstrap</li>
        <li><i class="devicon-nodejs-plain colored"></i> NodeJS</li>
      </ul>
    </div>
    <div class="feature col">
      <ul>
        <h5>Dev Tools</h5>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>

<div class="container px-4 py-5 border-bottom" id="hanging-icons">
  <h4>Projects</h4>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Live preview</a>
          <a href="#" class="btn btn-secondary">Source code</a>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Live preview</a>
          <a href="#" class="btn btn-secondary">Source code</a>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Live preview</a>
          <a href="#" class="btn btn-secondary">Source code</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5">
  <h4>Contact</h4>
  <p>If you're looking for someone to contribute to your team, I'd love to get in touch. You can reach me any time by email at <a href="mailto:devdanielnguyen.com">devdanielnguyen@gmail.com</a></p>
</div>

<footer>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>