<%= render 'navbar' %>

<div class="container" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">

  <%= render 'intro' %>
  <%= render 'about' %>
  <%= render 'work' %>
  <%= render 'projects' %>
  <%= render 'contact' %>

  <footer>
    <p><a href="#">Back to top</a></p>
  </footer>

</div>